# Dependencies
node_modules/

# Environment variables
.env

# Database
database/*.db
database/*.db-journal
database/*.db-shm*
database/*.db-wal*

# Build output
dist/
.vite/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

